<!DOCTYPE html>
<html>
<head>
  <title>Ajouter un élément</title>
</head>
<body>
  <h1>Ajouter un élément</h1>
  <form action="/ajouter" method="POST">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" required><br><br>
    <label for="type">Type :</label>
    <input type="text" id="type" name="type" required><br><br>
    <button type="submit">Ajouter</button>
  </form>
</body>
</html>
